<h1>New Document - <%= @template.name %></h1>

<%= render 'form', document: @document %>

<%= link_to 'Back', template_documents_path(@template), { :class => ['float-right', 'btn', 'btn-primary'] } %>
